<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lioch3cooh.glaciersmall.dao.GoodSkuDao">


    <update id="updateSku">
        update goods_sku
        set `name`       = #{sku.name},
            good_id      = #{sku.goodId},
            price        = #{sku.price},
            old_price    = #{sku.oldPrice},
            inventory    = #{sku.inventory},
            is_effective = #{sku.isEffective},
            discount     = #{sku.discount}
        where id = #{sku.id}
    </update>


    <select id="listVoSKU" resultType="com.lioch3cooh.glaciersmall.entity.vo.VoSku">
        select gs.id, gs.name, gs.good_id, gs.price, gs.old_price, gs.inventory
        from goods_sku gs
                 left join goods on gs.good_id = goods.id
        where goods.id = #{goodsId}
    </select>


    <resultMap id="skuStatus" type="com.lioch3cooh.glaciersmall.entity.Obeans.SkuStatus">
        <result property="nowPrice" column="price"/>
        <result property="oldPrice" column="old_price"/>
        <result property="stock" column="inventory"/>
        <result property="discount" column="discount"/>
        <result property="isEffective" column="is_effective"/>
    </resultMap>
    <select id="getSkuStatus" resultType="com.lioch3cooh.glaciersmall.entity.Obeans.SkuStatus" resultMap="skuStatus">
        select price,
               old_price,
               inventory,
               is_effective,
               discount
        from goods_sku
        where id = #{skuId}
    </select>

    <select id="querySkuBySkuId" resultType="Sku">
        select id,
               name,
               good_id,
               price,
               old_price,
               inventory,
               is_effective,
               discount
        from goods_sku
        where id = #{skuId}
    </select>

    <select id="listSkuByMemberId" resultType="java.util.Map">
        select id,
               a.sku_id,
               name,
               a.price,
               picture,
               `count`
        from (select gs.good_id id,
                     gs.id      sku_id,
                     gs.name,
                     gs.price,
                     picture
              from goods_sku gs
                       left join goods
                                 on
                                     gs.good_id = goods.id) a
                 right join cart
                            on a.sku_id = cart.sku_id
        where cart.member_id = #{memberId}
          and cart.selected = 1
    </select>


    <select id="getSkuBySkuId" resultType="Sku">
        select id,
               `name`,
               good_id,
               price,
               old_price,
               inventory,
               is_effective,
               discount
        from goods_sku
        where id = #{skuId}

    </select>
</mapper>