<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lioch3cooh.glaciersmall.dao.HomeDao">


    <!--首页  获取推荐品牌-->
    <!--     获取顶级分类-->
    <select id="listTopCategory" resultType="Category" >
        select id, name, picture
        from category where level = 1
        order by id asc
    </select>
    <!--     根据ID获取分类-->
    <select id="listCategoryByParentID" resultType="Category" >
        select  id, name, picture
        from category where parent_id = #{parentId}
    </select>
    <!-- 根据分类分类ID 获取物品   -->
    <select id="getGoodByCgyId" resultType="Goods" parameterType="integer">
        select  home_recommended_goods.id, name, `desc`, price, picture,discount,order_num,category_id
        from home_recommended_goods left join goods on home_recommended_goods.id = goods.id
        where  category_id = #{categoryId}
    </select>

    <select id="listNewGoods" resultType="Goods">
        select home_new_goods.id as id, name, `desc`, price, picture,discount,order_num,category_id
        from home_new_goods left join goods on home_new_goods.id = goods.id
    </select>

    <select id="listHomeHot" resultType="Hot">
        select id, picture, title, alt
        from home_hot
    </select>

    <select id="listHomeSpecial" resultType="Special">
        select id, creator, isDelete, classification_id, title, summary,
               lowest_price, cover, details_url, view_num, collect_num, reply_num,
               create_time, update_time
        from home_special
    </select>

    <select id="listProductCategory" resultType="VoHomeProductCategory">
        select h.id, h.picture, saleInfo, name
        from home_product_category h left join category c on h.id = c.id
    </select>

    <select id="listProductGoods" resultType="Goods">
        select h.id, name, `desc`, price, picture,discount,order_num,category_id
        from home_product_goods h left join  goods g on h.id = g.id
    </select>

</mapper>
